body{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.orangetext{
    height:100vh;
    text-align: left;
    padding-top: 300px;
    padding-left: 0;
    margin:0;
}
[animate]{
    font-size: 100px;
}
@-webkit-keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #000000;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #000000;
     }
     
 }
 @keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #000000;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #000000;
     }
     
 }
